<%- include('./shared/header') %>

    <h1>À porpos</h1>
    <div class="img-div">
        <img src="/images/person.png" alt="image illustant une personne qui se présente">
    </div>
    
    <div class="presentation-content">
        <p class="<%= person.gender === 'F' ? 'name-f' : 'name-m' %>"> 
            <%= person.firstName %> <%= person.lastName %>
        </p>

        <!-- <% if (person.gender === 'F') { %>
            <p class="name-f"><%= person.firstName %> <%= person.lastName %></p>
        <% } %>
        <% if (person.gender === 'M') { %>
            <p class="name-g"><%= person.firstName %> <%= person.lastName %></p>
        <% } %> -->
        
        <p class="bold">Date de naissance : 
            <span> 
                <%= person.birthDate.toLocaleDateString() %> 
            </span>
        </p>

        <p class="bold">Cours préférés : </p>
        <ul>
            <% for(const course of person.courses) { %>
                <li class="bullet">
                    <span> 
                        <%= course %> 
                    </span>
                </li>
            <% } %>
        </ul>
    </div>
<%- include('./shared/footer') %>